ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
FIREBASE_API_KEY=AIzaSyC7osvsnCvCRMNVQPYUr228_aNcovrKLUQ
FIREBASE_AUTH_DOMAIN=firestore-admin-ca.firebaseapp.com
FIREBASE_PROJECT_ID=firestore-admin-ca
FIREBASE_STORAGE_BUCKET=firestore-admin-ca.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=937477481669
FIREBASE_APP_ID=1:937937486660:web:ed36bf9787cc38918b83b9