# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.env
# Test binary, built with `go test -c`.env
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
firebase-credential.json
# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Binary
firestore-admin-client

# Temporary files and directories
tmp/
*.tmp
*.temp
